<p id="notice"><%= notice %></p>
<hr>
<p> This page provides a record of official data from the <%= @st %> government website.
	All data provided here are direct crawls from the website. These
	are the officially reported numbers. Unlike other coronavirus data sites, we do not rely on
	news or human crowd-sourced data. 
	(Website crawled <%= ((Time.now.to_i-@timestamp)/360).round.to_f/10 %> hours ago)</p>

<p><a href="mailto:coronavirusapi@googlegroups.com">Contact</a> for more info, or if you want to contribute to the project.
</p>

<p>To donate crypto, see the donation addresses at the bottom of the page. Thanks!
</p>

<p>
Official COVID-19 counts for <%= @st %>
</p>

<p>
<table class="pretty" border="1">
  <thead>
    <tr>
      <th>Tested</th>
      <th>Positive</th>
      <th>Deaths</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= number_with_delimiter(@tested) %></td>
        <td><%= number_with_delimiter(@positive) %></td>
        <td><%= number_with_delimiter(@deaths) %></td>
      </tr>
  </tbody>
</table>
</p>

<div class="container">
	<h5>Total number tested over time:</h5>
  <%= line_chart @chart_tested, curve: false, xtitle: "Date", points: false, thousands: "," %>
</div>
<div class="container">
  <h5>Total positive cases over time:</h5>
  <%= line_chart @chart_pos, curve: false, xtitle: "Date", points: false, thousands: ",", library: {spanGaps: false, elements: {line: {tension: 0}, point: {radius: 0}}, pointRadius: 10, legend: {position: 'right',}, scales: {yAxes: [{id: 'y-axis', type: 'logarithmic'},]}} %>
</div>
<div class="container">
  <h5>Total deaths over time:</h5>
  <%= line_chart @chart_deaths, curve: false, xtitle: "Date", points: false, thousands: ",", library: {spanGaps: false, elements: {line: {tension: 0}, point: {radius: 0}}, pointRadius: 10, legend: {position: 'right',}, scales: {yAxes: [{id: 'y-axis', type: 'logarithmic'},]}} %>
</div>

<p>
<h4>Api:</h4>
To get the time series for <%= @st %>, use http://coronavirusapi.com/getTimeSeries/<%= @st %>
</p>
<p>
<h4>Donate:</h4>
<p>
BTC: 1LG9dUf39dCKAEFcKm6guNhadTJwNqj44J
</p><p>
BCH: qrf504gk8n6sujjegwastxqdz2lv5vlv65pxs03s7k
</p><p>
ETH: 0x549ffFB83ac67Ca1Ae47668ac3cAAE3e0c77a9bd
</p><p>
XLM: GCVRV67LBHTMVXKDAJSW3S3ASASI6EJWQU2LYEOGKPSJEY42PYRAUDME
</p><p>
VET: 0xa81cd7a8272E053A18a13459425FFd260105EDd9
</p>
</p>
